/* CSS existente */
html,
body,
body > div { 
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #ced9e5;

}

.bodyCalendar{
  background-color: #ffffff;
}

h2 {
  margin: 0;
  font-size: 16px;
}

ul {
  margin: 0;
  padding: 0 0 0 1.5em;
}

li {
  margin: 1.5em 0;
  padding: 0;
}

b { 
  margin-right: 3px;
}

.demo-app {
  display: flex;
  min-height: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

.demo-app-sidebar {
  display: flex;
  flex-direction: column;
  width: auto;
  line-height: 1.5;
  background: #ffffff;
  border-right: 1px solid #d3e2e8;
  height: 100%;
}

.demo-app-sidebar-section {
  margin-top: 30px;
  padding: 2rem;
}

.demo-app-main{
  flex-grow: 1;
  padding: 3rem;
}

.fc { 
  max-width: 1100px;
  padding: 10px;
}

.fc-event {
  border: 1px solid #3788d8; 
  background-color: #63a4f7; 
  color: white; 
  border-radius: 3px; 
  padding: 2px 4px; 
  width: 148px;
}

.fc-daygrid-day-top{
  padding-right: 20px;
}

.fc-today-bg-color{
  background-color: black;
  background: black;
  color: black;
}


.fc-day{
  background-color: #ffffff;
}


.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; 
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  max-width: 90%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
  box-sizing: border-box; 
 
}

.modal-content h2 {
  margin-top: 0;
  font-size: 22px;
  margin-bottom: 10px;
}

.modal-content input {
  display: block;
  margin-bottom: 10px;
  padding: 10px;
  width: calc(100% - 22px);
  border-radius: 4px;
  border: 1px solid #ddd;
}

.modal-content button {
  background: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  margin-right: 10px;
}

.modal-content button:hover {
  background: #0056b3;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  color: #ff4d4d;
  cursor: pointer;
  border: none;
  background: none;

}

.modal-close:hover {
  color: #cc0000;
}

.modal-content {
  padding-top: 30px; 
}


.fc-daygrid-day-frame .fc-scrollgrid-sync-inner{
  color: tomato;
  border-radius: 20%;
}


