@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
    --deep-blue: rgb(1, 13, 20);
    --green: rgb(51, 156, 81);
    --light-green: rgb(150, 231, 173);
    --blue: rgb(0, 81, 211);
    --gray: rgb(122, 122, 122);
    --light-gray: rgb(221, 221, 221);
}

header {
    color: white;
}

.Navbar {
    background-color: var(--deep-blue);
    color: white;
    height: 60px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Navbar .brand {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: white;
    margin-left: 20px;
}

.dropdown-basic {
    position: absolute;
    border: none;
    padding: 5px;
}

.dropdown a {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: var(--deep-blue);
    display: flex;
    flex-direction: column;
    background-color: var(--gray);

}

.nav-profile {
    color: white;
    display: flex;
    align-items: center;
}
