@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
    --deep-blue: rgb(1, 13, 20);
    --green: rgb(51, 156, 81);
    --light-green: rgb(150, 231, 173);
    --blue: rgb(0, 81, 211);
    --gray: rgb(122, 122, 122);
    --light-gray: rgb(221, 221, 221);
}
header{
    display: flex;
}
.Navbar a{
    text-decoration: none;
}

.Navbar {
    overflow: hidden;
    min-width: 1700px;
    height: 65px;
    background-color: var(--deep-blue);
    color: white;
    padding: 10px 35px 10px 35px;
    display: flex;
}

.navbar-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    min-width: 1690px;
}

.Navbar .brand {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: white;
}

.dropdown-basic svg{
    height: 20px;
    width: 20px;
}

.nav-profile{
    justify-content: flex-end;
}

.dropdown-menu{
    font-family: 'Roboto', sans-serif;
    font-weight: 450;
    gap: 5px;
    margin-top: 35px;
    height: 60px;
    width: 100px;
    padding: 5px;
    border-radius: 5px;
    justify-content: center;
    display: flex;
    position: absolute;
    flex-direction: column;
    background-color: var(--gray);
}
.dropdown a {
    color: white;
}