.bodyPerfil{
  background-color: #7da0ca;
}

.bodyHome{
  margin: 0;
  padding: 0;
}
.bodyCadastro{
  background-color: white;
}

/* ::-webkit-scrollbar {
    width: 10px;
  }
  

  ::-webkit-scrollbar-track {
    background: transparent;
  }
  

  ::-webkit-scrollbar-thumb {
    background: transparent;
  }
  

  ::-webkit-scrollbar-thumb:hover {
    background: transparent;
  } */
